/* src/components/Login.css */

.login-background {
  width: 100%;
  min-height: 100vh;
  
  /* Make sure your image is in src/assets/background.jpg */
  background-image: url('../assets/background.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}